<label for="preg" class="rem">Descripción:</label>
<input type="text" id="preg" name="gymko[gym_description]" value="<%= gymko.gym_description%>" /> </p>
<select name="gymko[gym_topic]">
  <option value="Otro" selected>Otro</option>
  <option value="Humanidades">Humanidades</option>
  <option value="Ocio">Ocio</option>
  <option value="Ciencia">Ciencia</option>
  <option value="Tecnologia">Tecnología</option>
</select> </p>
<a href="/gymkos"><button type="button">Cancelar</button></a>
<input type="submit" value="Salvar" />
