<form method="get" action="/gymkos/<%= gymko.id %>/answer">
	Pregunta: <%= gymko.pregunta %> <p>
	<input type="text" name="respuesta" placeHolder="Responda aquí" />
	<input type="submit" value="Enviar" />
</form>
